{
	"extends": "@antfu",
	"rules": {
		"no-console": "off",
		"vue/attribute-hyphenation": "off",
    "vue/v-on-event-hyphenation": "off",
		"prefer-const": "off",
		"unused-imports/no-unused-vars": "off",
		"unused-imports/no-unused-imports": "off"
	}
}
