{
  "extends":[
		"stylelint-config-standard-scss",
		"stylelint-config-rational-order",
		"stylelint-config-recommended-vue/scss"
  ],
  "plugins": ["stylelint-order"],
  "rules":{
    "selector-pseudo-element-no-unknown": [
			true,
			{
				"ignorePseudoElements": ["deep"]
			}
		],
		"no-empty-source": null,
		"selector-class-pattern": null,
		"selector-id-pattern": null,
		"keyframes-name-pattern": null,
		"at-rule-no-unknown": [
			true,
			{
				"ignoreAtRules": [
					"tailwind",
					"apply",
					"variants",
					"responsive",
					"screen",
					"layer",
					"include",
					"mixin"
				]
			}
		],
		"declaration-block-trailing-semicolon": null,
		"no-descending-specificity": null,
		"value-keyword-case": null,
		"string-quotes": "single",
		"scss/at-import-partial-extension": "always"
  }
}