::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}

::-webkit-scrollbar-track-piece:vertical:start {
  --iu: bg-[#cfcfcf] dark:bg-[#474747];

  border-radius: 5px;
}

/* ::-webkit-scrollbar-track-piece:horizontal:start {
  --iu: bg-[#cfcfcf] dark:bg-[#474747];

  border-radius: 5px;
} */

::-webkit-scrollbar-thumb {
  --iu: bg-[#cfcfcf] dark:bg-[#474747];

  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* ::-webkit-scrollbar-thumb:window-inactive {
  background: #aaa;
} */

* {
  scrollbar-color: #cfcfcf #0000;
  scrollbar-width: thin;
}

.dark * {
  scrollbar-color: #474747 #0000;
}
