.iu-space {
  --iu: flex flex-wrap gap-x-12px gap-y-12px;
}

.iu-space-vertical {
  --iu: flex-col;
}

.iu-space-justify-center {
  --iu: justify-center;
}

.iu-space-justify-start {
  --iu: justify-start;
}

.iu-space-justify-end {
  --iu: justify-end;
}

.iu-space-justify-between {
  --iu: justify-between;
}

.iu-space-justify-around {
  --iu: justify-around;
}

.iu-space-justify-evenly {
  --iu: justify-evenly;
}

.iu-space-align-center {
  --iu: items-center;
}

.iu-space-align-start {
  --iu: items-start;
}

.iu-space-align-end {
  --iu: items-end;
}

.iu-space-align-baseline {
  --iu: items-baseline;
}

.iu-space-align-stretch {
  --iu: items-stretch;
}
